<!DOCTYPE html>
<head>
<title>Player vs Player</title>
<!--STYLESHEET LINK-->
<link rel="stylesheet" href="style.css">
<!--GOOGLE FONT-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
<!--ICONS-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>


    <div id="container">

        <table class="table table-hover" id="player1">

      
        
             <tr class="table-info"> <td><h3>Name:</h3><span id="bringmename"><%= nbaTask.player_name %> <button  class="bn632-hover bn25"> <a href="/">reset</a></button></span></td> </tr>
             <tr class="table-info"><td><div class="todo-list-item-points"><h3>Team:</h3><span id="bringmepoints"><%= nbaTask.team_abbreviation %></span></div></td></tr>
             <tr class="table-info"><td><div class="todo-list-item-points"><h3>Points:</h3><span id="bringmepoints"><%= nbaTask.pts %></span></div></td></tr>
             <tr class="table-info"><td><div class="todo-list-item-points"><h3>Assist:</h3><span id="bringmepoints"><%= nbaTask.ast %></span></div></td></tr>
             <tr class="table-info"><td><div class="todo-list-item-points"><h3>Rebounds:</h3><span id="bringmepoints"><%= nbaTask.reb %></span></div></td></tr>


        </table>
    
        <table class="table table-hover" id="player2">

          
          </select>
        </th>
             <tr class="table-danger"> <td><h3>Name:</h3><span id="bringmename2"><%= nbaTask2.player_name %></span></td></tr>
             <tr class="table-danger"><td><div class="todo-list-item-points"><h3>Team:</h3><span id="bringmepoints2"><%= nbaTask2.team_abbreviation %></span></div></td></tr>
             <tr class="table-danger"><td><div class="todo-list-item-points"><h3>Points:</h3><span id="bringmepoints2"><%= nbaTask2.pts %></span></div></td></tr>
             <tr class="table-danger"><td><div class="todo-list-item-points"><h3>Assist:</h3><span id="bringmepoints2"><%= nbaTask2.ast %></span></div></td></tr>
             <tr class="table-danger"><td><div class="todo-list-item-points"><h3>Rebounds:</h3><span id="bringmepoints2"><%= nbaTask2.reb %></span></div></td></tr>


           
        </table>

    
    </div>
</body>